[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
requests = "*"
pytest = "*"
appium-python-client = "*"
selenium = "*"
pytest-tm4j-reporter = "*"
pytest-env = "*"

[dev-packages]

[requires]
python_version = "3.9"
