[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
requests = "*"
pytest = "*"
appium-python-client = "*"
selenium = "*"
pytest-env = "*"
pytest-json-report = "*"

[dev-packages]
